body{

}
h1{
    font-family:  'Playfair Display', serif;
    color: skyblue;
}
h2,h3{
  font-family: 'Roboto' ;
  color: rgb(115, 73, 231);
}
navbar {
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  max-width: 1400px;
  margin: auto;
}

/* Logo */
.nav-logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1a1a1a;
}

.nav-logo span {
  color: #f39c12;
}

/* Links */
.nav-container {
  list-style: none;
  display: flex;
  gap: 30px;
}



.nav-container a:hover {
  text-decoration: none;
  color: gold;
  font-weight: 500;
  transition: color 0.3s;

}

.nav-links a:hover {
  color: #f39c12;
}


.nav-cta:hover {
  background: transparent;
  color: #f39c12;
  border: 2px solid #f39c12;
}

/* Basic Responsiveness (just spacing) */
@media (max-width: 900px) {
  .nav-container {
    padding: 15px 5%;
  }

  .nav-container {
    gap: 15px;
  }

  .nav-cta {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
footer img{
  width: 400px;
  height: 400px;
  border: 10px dotted green;
}
section img{
  width: 700px;
  height: 500px;
  border: 10px double rgb(128, 0, 0);
}

